
.container.gallery-container {
    /*background-color: #7996c1;*/
    color: #35373a;
    /*min-height: 300px;*/
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    overflow: auto;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 80%;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 25px;
}

.tz-gallery .lightbox img {
    margin-bottom: 25px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
#tamanho img{
    border: 2px solid white;
    max-width: 280px;
    max-height: 180px;
    /*margin-left: 5px;*/
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.3);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

@media screen and (max-width: 915px) {
    .img_galeria{
        margin-top: 190px;
    }
}

