* {
	padding: 0px;
	margin: 0px;
	/* Efeitos e Transição */
	text-decoration: none;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

#fundoTransparente {
	background: rgba(0, 0, 0, 0.5);
	min-height: 860px;
}

/********Logo***********/

.logo img {
	width: 100px;
	margin-bottom: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 780px) {
	.logo img {
		width: 80px;
		margin-left: 22px;
	}
}

@media screen and (max-width: 580px) {
	.logo img {
		width: 60px;
		margin-left: 22px;
	}
}

#link_area_restrita a {
	color: red;
	font-size: 15px;
}

/* Editar dia de culto */

.domingo {
	background-color: #d0dbe5;
	padding-bottom: 14px;
	border-radius: 5px;
}

.segunda {
	background-color: #caccce;
	padding-bottom: 14px;
	border-radius: 5px;
}

.terca {
	background-color: #bad3ce;
	padding-bottom: 14px;
	border-radius: 5px;
}

.quarta {
	background-color: #c4b9d2;
	padding-bottom: 14px;
	border-radius: 5px;
}

.quinta {
	background-color: #b3c6af;
	padding-bottom: 14px;
	border-radius: 5px;
}

.sexta {
	background-color: #c6afc1;
	padding-bottom: 14px;
	border-radius: 5px;
}

.sabado {
	background-color: #b3afc6;
	padding-bottom: 14px;
	border-radius: 5px;
}

.h2 {
	margin-top: 5px;
}

/* Fim Editar dia de culto */

/* Ver perfil obreiro */

.editar {
	background-color: #a5b7b5;
	/* background-image: url('img/nature.jpg'); */
	padding: 10px;
	border-radius: 5px;
}