/********carroussel***********/

.header-menu {
	background-color: #1aad72;
	color: #fff;
	font-size: 18px;
}

.espaco-topo {
	margin-top: 65px;
	color: #fff;
}

.logo-small {
	color: #1aad72;
	font-size: 50px;
}

.logo {
	color: #1aad72;
	font-size: 200px;
}

/*
#fundoTransparente {
	background-color: rgba(8, 89, 86, .85);
}


hr {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #fff;
}


.logo img {
	width: 100px;
	margin-bottom: 10px;
}

@media screen and (max-width: 780px) {
	.logo img {
		width: 80px;
		margin-left: 22px;
	}
}

@media screen and (max-width: 580px) {
	.logo img {
		width: 60px;
		margin-left: 22px;
	}
}
*/