* {
	padding: 0px;
	margin: 0px;
	/* Efeitos e Transição */
	text-decoration: none;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

/********Logo***********/

.logo img {
	width: 100px;
	margin-bottom: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 780px) {
	.logo img {
		width: 80px;
		margin-left: 22px;
	}
}

@media screen and (max-width: 580px) {
	.logo img {
		width: 60px;
		margin-left: 22px;
	}
}

#link_area_restrita a {
	color: red;
	font-size: 15px;
}

/*
#fundoTransparente {
	background-color: rgba(8, 89, 86, .85);
}


hr {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #fff;
}

*/