.espaco-topo {
	margin-top: 53px;
	color: #fff;
}

#image {
	height: 600px;
}

@media screen and (min-width: 1652px) {
	#image {
		height: 800px;
	}
}

@media screen and (min-width: 1551px) {
	#image {
		height: 700px;
	}
}

@media screen and (max-width: 1450px) {
	#image {
		height: 600px;
	}
}

@media screen and (max-width: 1350px) {
	#image {
		height: 500px;
	}
}

@media screen and (max-width: 1200px) {
	#image {
		height: 500px;
	}
}

@media screen and (max-width: 1100px) {
	#image {
		height: 500px;
	}
}

@media screen and (max-width: 1000px) {
	#image {
		height: 400px;
	}
}

@media screen and (max-width: 900px) {
	#image {
		height: 300px;
	}
}

@media screen and (max-width: 700px) {
	#image {
		height: 200px;
	}
}

@media screen and (max-width: 480px) {
	#image {
		height: 150px;
	}
}